header {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 95vw !important;
    margin: 0 auto;
    padding: 10 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius:  8px;

}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 28px;
    color: #000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    transition: color 0.2s ease-in-out;
}

nav a:hover {
    color: #f7931a;
}