html,
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;

}

.table_container {
    width: 80vw;
    margin: 0 auto;
}

#crypto_table {
    table-layout: fixed;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

th,
td {
    padding: 14px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

td {
    width: 15%;
    font-size: 20px;
    color: #333;
}

td.positive {
    color: green;
    background-color: #d4edda;
    border-radius: 8px;

}

td.negative {
    color: red;
    background-color: #f8d7da;
    border-radius: 8px;
}

a {
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:link {
    color: #000;
}

a:hover {
    color: #999;
}

a:active {
    color: #555;
}

th.width-10,
td.width-10 {
    width: 20px;
    text-align: left;
}

th.width-80,
td.width-80 {
    width: 30%;
    text-align: left;
}

.sized_box {
    height: 100px;
}

.logo {
    height: 22px;
    margin-right: 10px;
}